name: Deploy APK to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Build APK
      run: |
        chmod +x ./gradlew
        ./gradlew clean assembleDebug
        
    - name: Setup Pages
      uses: actions/configure-pages@v3
      
    - name: Upload APK
      uses: actions/upload-pages-artifact@v2
      with:
        path: |
          app/build/outputs/apk/debug/app-debug.apk
          index.html
          
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
